---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';


import christine from '@/assets/christine.jpg';
import christine1 from '@/assets/christine1.jpg';
import hanbok from '@/assets/hanbok.jpg';
import christine3 from '@/assets/christine3.png';
import christine4 from '@/assets/christine4.png';
import star from '@/assets/star.svg';
import face from '@/assets/face.png';
import { Image } from 'astro:assets';


import keziah from '@/assets/keziah.jpg';
import keziah1 from '@/assets/keziah1.jpg';
import keziah2 from '@/assets/keziah2.jpg';
import keziah3 from '@/assets/keziah3.jpg';
import leaf from '@/assets/leaf.svg';
import butterfly from '@/assets/butterfly.svg';
import daisy from '@/assets/daisy.svg';
---
<div>
  <sl-card class="card-overview">

    <Image
      slot="image"
      src={keziah2}
      loading="eager"
      style={{ width: '250', height: 'auto' }}
      alt="A kitten sits patiently between a terracotta pot and decorative grasses."
    />
  
    <strong>Keziah Kang</strong><br />
    Loving mom of 3, Technician, Pastor<br />
    <small>Daughter of God</small>
  
    <div slot="footer">
      <sl-avatar label="User avatar" image={keziah1.src}></sl-avatar>
      <div>
       
        <sl-icon-button id="outlink" name="youtube" label="Visit my YouTube channel"></sl-icon-button>
        <sl-icon-button id="outlink"name="envelope" href="mailto:keziahkang@gmail.com" target="_blank" label="Send me an email"></sl-icon-button>
        <sl-animation name="flip" duration="2000" play>
            <sl-icon src={daisy.src}></sl-icon>
        </sl-animation>
      </div>
    </div>
  </sl-card>
</div>

<style>
  .card-overview {
    max-width: 250px;
    font-size: medium;
    overflow: auto;
  }
  .card-overview small {
    color: var(--sl-color-neutral-500);
  }
  #outlink::part(base):hover {
      color: var(--sl-color-success-300);

  }
  .card-overview [slot='footer'] {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: 767px) {
    .card-overview {
      max-width: 250px;
      font-size: smaller;
      --padding: 12px;
    }
  }

  @media screen and (min-width: 1536px) {
    .card-overview {
      max-width: 400px;
      font-size: 1.5rem; 
    }
  }
</style>

