---
import butterfly from '@/assets/butterfly.svg';
---

<div class="timeline-container">
    
    <sl-tab-group id="info-container" >
        <sl-tab slot="nav" panel="general" label="General tab">General</sl-tab>
        <sl-tab slot="nav" panel="faith" label="faith tab">Faith</sl-tab>
        <sl-tab slot="nav" panel="baking" label="baking tab">Baking</sl-tab>
        <sl-tab slot="nav" panel="garden" label="garden tab">Garden</sl-tab>
      
        <sl-tab-panel name="general"> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </sl-tab-panel>
        <sl-tab-panel name="faith">
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </sl-tab-panel>
        <sl-tab-panel name="baking">
            Lorem ipsum dolor sit amet, conse. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </sl-tab-panel>
        <sl-tab-panel name="garden">
           Lorem ipsum dolinim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </sl-tab-panel>
    </sl-tab-group>
</div>

<style>
    #info-container{
        padding: 15px;
        font-size: medium;
    }
    sl-tab-group {
        --indicator-color: var(--sl-color-success-300); 
        --track-color: var(--sl-color-success-100);
        font-size: smaller;
    }
    sl-tab::part(base)  {
        font-family: 'Patrick Hand SC', sans-serif;
        color: var(--sl-color-gray-900) ;
    }
    @media screen and (min-width: 1536px) {
        #info-container , sl-tab-group, sl-tab::part(base){
            font-size: 1.5rem;
        }
    }
</style>
